.container {
    max-width: 720px;
    margin: 20px auto;
    padding: 0 16px;
    margin-top: 50px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;

    h1 {
        color: var(--white);
        margin-bottom: 10px;
    }

    .searchContainer {
        position: relative;
        display: flex;
        align-items: center;
    }

    .searchInput {
        height: 40px;
        border: 1px solid var(--gray-100);
        padding: 0 16px 0 40px; /* Espaço para o ícone */
        border-radius: 29px;
        background-color: var(--dark-900);
        color: var(--white);
        font-size: 16px;
        margin-bottom: 10px;
    }

    .searchIcon {
        position: absolute;
        left: 12px;
        top: 9px;
        color: var(--gray-100); /* Cor do ícone */
        pointer-events: none;
    }
}

.listClients {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.clientItem {
    display: flex;
    background-color: var(--dark-900);
    align-items: center;
    border: 0;
    font-size: 18px;
    border-radius: 8px;
    color: var(--white);
    transition: filter 0.5s;

    &:hover {
        filter: brightness(1.2);
    }
}

.tag {
    width: 9px;
    height: 60px;
    background-color: var(--green-900);
    border-radius: 6px 0 0 6px;
    margin-right: 16px;
}
