.tableWrapper {
    position: relative;
    background-color: var(--lilas-900);
    padding: 1rem;
}

.header {
    margin-bottom: 1rem;
    background-color: var(--lilas-900);
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: #c24c4c;
        margin: 0;
        font-size: 15px;
    }

    .headerControls {
        display: flex;
        align-items: center;
        gap: 1rem; // Espaço entre o campo de pesquisa e o seletor
    }

    .searchContainer {
        position: relative;
    
        .filterInput {
            padding: 0.5rem 2rem 0.5rem 0.5rem;
            font-size: 0.875rem;
            border: 1px solid var(--cinza-800);
            border-radius: 4px;
            background-color: var(--lilas-800);
            color: var(--white);
            outline: none;
            width: 200px; // Ajuste a largura conforme necessário
    
            &:focus {
                border-color: var(--white);
            }
        }
    
        .searchIcon {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--cinza-800);
            pointer-events: none;
            font-size: 0.75rem; // Tamanho menor para o ícone de busca
            transition: opacity 0.3s ease; // Adiciona transição suave para a visibilidade
        }
    
        .clearIcon {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            color: var(--cinza-800);
            pointer-events: auto; // Permite interação com o ícone de limpar
            font-size: 0.75rem; // Tamanho menor para o ícone "X"
            opacity: 0; // Inicialmente oculto
            transition: opacity 0.3s ease; // Adiciona transição suave para a visibilidade
        }
    
        .filterInput:not(:placeholder-shown) ~ .searchIcon {
            opacity: 0; // Oculta o ícone de busca quando há texto
        }
    
        .filterInput:not(:placeholder-shown) ~ .clearIcon {
            opacity: 1; // Mostra o ícone "X" quando há texto
        }
    }

    .resultsPerPage {
        display: flex;
        align-items: center;

        label {
            margin-right: 0.5rem;
            color: var(--white); // Cor do texto
        }

        label[for="resultsPerPage"] {
            margin-left: 8px; // Ajuste conforme necessário
        }

        select {
            background-color: var(--lilas-800); // Cor de fundo do seletor
            color: var(--white); // Cor do texto do seletor
            border: 1px solid var(--cinza-800); // Borda do seletor
            border-radius: 4px;
            padding: 0.5rem;
            font-size: 0.875rem; // Tamanho da fonte
            cursor: pointer;
            outline: none;
            transition: background-color 0.3s ease, border-color 0.3s ease;

            // Ajuste do ícone para a esquerda
            background-position: calc(100% - 20px) center; // Movido mais para a esquerda
            background-repeat: no-repeat;
            background-size: 12px; // Tamanho do ícone

            // Remove a seta padrão do seletor para estilizar com mais controle
            &::-ms-expand {
                display: none;
            }

            // Estilo para a opção selecionada
            option {
                background-color: var(--roxo-900); // Cor de fundo das opções
                color: var(--white); // Cor do texto das opções
            }

            // Foco no seletor
            &:focus {
                border-color: var(--white); // Cor da borda ao focar no seletor
                background-color: var(--lilas-700); // Cor de fundo ao focar
            }
        }
    }
}

.clientsTable {
    width: 100%;
    border-radius: 8px;
    background-color: var(--lilas-900);
    position: relative;
    border-collapse: collapse;

    th, td {
        border: 0.8px solid var(--cinza-800);
        padding: 4px; // Reduz o padding para tornar as células mais finas
        font-size: 0.90rem; // Reduz o tamanho da fonte
        min-width: 80px; // Ajusta a largura mínima das células
        max-width: 150px; // Ajusta a largura máxima das células
        overflow: hidden;
        text-overflow: ellipsis; // Adiciona reticências para texto que ultrapassa o tamanho da célula
        white-space: nowrap;
        vertical-align: middle; // Alinha verticalmente no meio
        color: var(--gray-100); // Define a cor do texto (incluindo as reticências)
    }

    th {
        background-color: var(--roxo-700); // Ajusta a cor de fundo dos cabeçalhos
        color: var(--white);
        font-weight: bold;
        padding: 10px; // Aumenta o padding para maior altura
        min-height: 100px; // Define uma altura mínima para os cabeçalhos
    }

    td {
        text-align: start;
    }

    td:last-child {
        text-align: center;
    }
   

    tr {
        color: var(--gray-100);
    }

    tr:nth-child(even) {
        background-color: var(--lilas-900);
    }

    tr:hover {
        background-color: var(--roxo-700);
    }

    .iconPlus, .iconInfo {
        gap: 4px; /* Ajusta o espaço entre os ícones */
        padding: 2px; // Ajusta o padding dentro da célula da ação
        font-size: 0.625rem; // Ajusta o tamanho da fonte dos ícones de ação
        font-size: 0.75rem; /* Ajuste o tamanho dos ícones */
        color: var(--cinza-700); /* Ajuste a cor dos ícones conforme necessário */
        transition: color 0.3s ease, transform 0.3s ease; /* Adiciona transições suaves */
    }

    .iconPlus:hover, .iconInfo:hover {
        color: var(--white); /* Altere a cor ao passar o mouse */
        transform: scale(1.1); /* Aumenta o ícone ligeiramente ao passar o mouse */
    }
}




.ellipsis {
    margin-top: 10px;
    color: var(--gray-100); // Ajuste a cor conforme necessário
    font-size: 1rem; // Ajuste o tamanho da fonte se necessário
    font-weight: bold; // Ajuste o peso da fonte se necessário
}


.ppage {
    margin-left: 9px;
}

.noRecords {
    text-align: center; // Alinha horizontalmente no centro
    color: #888;
    font-style: italic;
    padding: 1rem;
    width: 100%; // Garante que a célula ocupe toda a largura disponível
    height: 100%; // Garante que a célula ocupe toda a altura disponível
    vertical-align: middle; // Alinha verticalmente no meio
    display: table-cell; // Garante que a célula se comporte como uma célula de tabela
}

.pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    margin-right: 1px;

    // Esconde a paginação se não houver resultados
    &.hidden {
        display: none;
    }

    button {
        background-color: var(--lilas-800);
        color: var(--white);
        border: 1px solid var(--cinza-800);
        border-radius: 4px;
        padding: 0.5rem;
        cursor: pointer;
        font-size: 0.75rem; // Tamanho menor para o texto do botão
        transition: background-color 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        &:disabled {
            background-color: var(--cinza-600);
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: var(--lilas-700);
        }

        svg {
            width: 30px; // Ajuste o tamanho dos ícones de navegação
            height: 15px; // Ajuste o tamanho dos ícones de navegação
        }
    }

    .pageNumber {
        background-color: var(--lilas-800);
        color: var(--white);
        border: 1px solid var(--cinza-800);
        border-radius: 4px;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 0.75rem;
        transition: background-color 0.3s ease;
        margin: 0 0.25rem;

        &.active {
            background-color: var(--lilas-700);
            border-color: var(--lilas-700);
            font-weight: bold;
        }

        &:hover {
            background-color: var(--lilas-700);
        }
    }
}

.loadingSpinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; // Tamanho do spinner para centralizá-lo verticalmente
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: var(--red-900);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
