.menu {
  width: 100%; /* Ocupa 100% do espaço disponível, ajustável */
  max-width: 270px; /* Largura máxima do menu */
  min-width: 200px; /* Largura mínima do menu, ajustável conforme necessário */
  background-color: var(--white);
  margin-top: 16px;
  position: relative;
  border-right: var(--border-width) solid var(--cinza-800); /* Usando a variável */
  overflow: hidden; /* Garante que a pseudo-borda não afete o layout */
  

  /* Extensão da borda para cima */
  &::before {
    content: '';
    position: absolute;
    top: -1px; /* Ajuste o valor conforme necessário para estender mais para cima */
    right: -var(--border-width); /* Ajuste o valor para alinhar com a borda */
    width: var(--border-width); /* Largura da pseudo-borda */
    height: calc(100% + 1px); /* Altura da extensão para cobrir a borda e o espaço adicional */
    background-color: var(--cinza-800);
  }

  h1 {
    display: flex;
    color: var(--white);
    text-indent: 1rem;
    padding: 10px 15px;
  }

  nav {
    background-color: var(--lilas-900);
    color: var(--white);
    padding-top: 2px;
    width: 100%;
    height: 100vh;

    a {
      border-radius: 10px;
      display: flex;
      align-items: center;
      color: var(--white);
      text-indent: 1rem;
      text-decoration: none;
      padding: 10px 15px;

      &:hover {
        background-color: var(--dark-900);
      }
    }
  }
}
