// components/styles.module.scss

.tableWrapper {
    border-top: 1px solid #000; // Linha na parte superior
    padding-top: 1rem; // Espaçamento acima da linha
    margin: 1rem; // Espaçamento ao redor da tabela
    border-radius: 8px; // Bordas arredondadas para o contêiner da tabela
    overflow: hidden; // Garante que o conteúdo dentro da borda arredondada não ultrapasse
    background-color: var(--dark-700); // Fundo para destacar as bordas arredondadas
}

.header {
    margin-bottom: 1rem; // Espaçamento entre o título e a tabela
}

.tableContainer {
    overflow-x: auto; // Permite rolagem horizontal se necessário
    border-radius: 8px; // Bordas arredondadas para o contêiner da tabela
}

.clientsTable {
    width: 100%;
    border-collapse: separate; // Usa bordas separadas para garantir que as bordas arredondadas apareçam
    border-spacing: 0; // Remove espaçamento entre as células da tabela
    border-radius: 8px; // Bordas arredondadas para a tabela
    background-color: var(--dark-800); // Fundo da tabela para combinar com o fundo da div pai

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        font-size: 0.875rem; // Tamanho da fonte para melhor legibilidade
    }

    th {
        background-color: #333; // Cor de fundo para o cabeçalho
        color: #fff; // Cor do texto do cabeçalho
        font-weight: bold;
    }

    tr:nth-child(even) {
        background-color: #444; // Cor de fundo alternada para as linhas da tabela
    }

    tr:hover {
        background-color: #555; // Cor de fundo ao passar o mouse
    }
}
